sistem medical/sistem_expert.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="sistem_medical">
		<xs:sequence>
			<xs:complexType name="pacienti">
				<xs:sequence>
					<xs:complexType name="persoana" maxOccurs="unbounded" minOccurs="0">
						<xs:sequence>
							<xs:complexType name="nume">
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute type="xs:string" name="nevoie_transfuzie" use="optional"/>
										<xs:attribute type="xs:string" name="donator" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
							<xs:element type="xs:string" name="simptom" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="grupa_sange"/>
							<xs:simpleType name="rh" type="xs:string">
								<xs:restriction base="xs:string">
									<xs:enumeration value="pozitiv"/>
									<xs:enumeration value="negativ"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:sequence>
					</xs:complexType>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="compatibilitate">
				<xs:sequence>
					<xs:complexType name="donare" maxOccurs="unbounded" minOccurs="0">
						<xs:sequence>
							<xs:element type="xs:string" name="donator"/>
							<xs:element type="xs:string" name="primitor"/>
						</xs:sequence>
					</xs:complexType>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="medici">
				<xs:sequence>
					<xs:complexType name="medic" maxOccurs="unbounded" minOccurs="0">
						<xs:sequence>
							<xs:element type="xs:string" name="nume"/>
							<xs:element type="xs:string" name="specializare"/>
						</xs:sequence>
					</xs:complexType>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="boli">
				<xs:sequence>
					<xs:complexType name="afectiune" maxOccurs="unbounded" minOccurs="0">
						<xs:sequence>
							<xs:element type="xs:string" name="nume"/>
							<xs:element type="xs:string" name="specializare"/>
						</xs:sequence>
					</xs:complexType>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reguli">
				<xs:sequence>
					<xs:complexType name="regula" maxOccurs="unbounded" minOccurs="0">
						<xs:sequence>
							<xs:complexType name="if">
								<xs:sequence>
									<xs:element type="xs:string" name="simptom" maxOccurs="unbounded" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
							<xs:complexType name="then">
								<xs:sequence>
									<xs:element type="xs:string" name="boala"/>
								</xs:sequence>
							</xs:complexType>
						</xs:sequence>
					</xs:complexType>
				</xs:sequence>
			</xs:complexType>
		</xs:sequence>
    </xs:complexType>
</xs:schema>